$blue: rgba(15, 151, 219, 0.84);
$pink: rgba(236, 144, 233, 0.91);
body{
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.blue {
  background-color: $blue;
}
.pink {
  background-color: $pink;
}

.split {
  background-image: linear-gradient( -68deg, $pink 50%, $blue 50%);
}

.unselectable {
  user-select: none;
}

img{
  max-height:60vh;
  max-width: 60vw;
  height: 60vh;
  width: 60vw;
  user-select: none;
}
div{
  user-select: none;
}